#productForm{
	position: absolute;
	top: 260px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: rgba(0,100,100,1.0);
}

#InventoryTitle {
	position: absolute;
	top:50px;
	left: 50%;
	margin-left: -400px;
     	width: 800px;
     	height: 100%;
	background-image: url("../images/inventory.png");
     	background-repeat:no-repeat;
	font-family: 'Montserrat', sans-serif;
     	padding:80px;
     	font-weight: bold;
     	font-size: 40px;
     	color: white;
}

#selectList{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	width:155px;
	padding:2px 8px;
}

#prodcutImage{
	position: absolute;
	width:155px;
}

.productImageURL,
.productContent,
.productWeight,
.price,
.Quantity
{
	position: relative;
	left:165px;
}

#URLInput,
#nameInput,
#weightInput,
#priceInput,
#quantityInput
{
	margin-left:10px;
	text-align: center;
	padding: 5px 0px;
}

#URLInput{
	width: 450px;
}

#nameInput{
	width: 491px;
}

#weightInput{
	width: 100px;
	margin-right:15px;

}

#priceInput{
	width: 150px;
}

#quantityInput{
	width: 123px;
}

.buyButton{
	margin-top:100px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,150,150,1.0);	
	border: none;
	cursor: pointer;
    	width: 49%;
	height: 50px;
}

.buyButton:hover {
	opacity: 0.8;
}



