#message {
	display: none
}
/* inputbox placeholder*/
#inputbox {
	position: absolute;
	top: 300px;	
	left: 50%;
	margin-left: -250px;
	width: 500px;
	background-color: rgba(0,150,150,0.2);
	padding:2% 2% 5% 1.5%;
}

/* Logo placeholder*/
#returnHome {
	position: absolute;
	top: 125px;
	background-image: url("../images/login.png");
	background-repeat:no-repeat;
  	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 175px;
	padding:2% 2% 5% 1.5%;
}

#input_email,
#input_password 
 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-decoration: none;	
	width: 95%;
	padding: 12px;
	border: none;
	opacity: 0.85;
}

#input_password  {
	position: relative;
	top:-15px;
}

#input_email:hover,
#input_password:hover
{
	opacity: 1;	
}

#label_email,
#label_password 
{
	position: relative;
	top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-weight:normal;
}

#label_password 
{
	top: 0px;
}

#button_login,
#button_register
{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,150,150,1.0);	
	border: none;
	cursor: pointer;
	float: left;
    	width: 49%;
	height: 50px;
}

#button_login:hover {
	opacity: 0.8;
}


#button_register {
	color: rgba(0,150,150,1.0);
	background-color: rgba(240,240,240,0.9);
	float: right;
}

#button_register:hover{
	color: white;
	background-color: rgba(0,150,150,0.8);
}

#button_submit {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0,150,150,0.0);	
	color: white;
	font-size: 20px;
	border: none;
}

#button_submit:hover {
	color: rgba(0,150,150,1.0);
}

}