:focus{
	outline:none;
}

body { 
	position: absolute;
	top: 50%;
	margin-top: -150px;
	height: 300px;
	left: 50%;
	margin-left: -400px;
	width: 800px;	
	text-align:center;
	border-radius: 10px;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.75);
}

img {
	position: relative;
	top: -35px;
	width: 10%;
}

#msg p{
	position: relative;
	top: -50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#msg a{
	position: relative;
	top: -10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

#userNameText{
	color: rgba(0,150,150,1.0);
}

[href]{
	position: relative;
	top: 70px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: rgba(0,150,150,1.0);	
	padding: 10px 50px 10px 50px;
} 

[href="index.html"]{
	color: rgba(0,150,150,1.0);	
	background-color: rgba(240,240,240,0.9);	
}

[href="profile.html"]{
	padding: 10px 80px 10px 80px;
}

[class~=fas]{
	margin:0px 10px 0px 5px;
}

[href]:hover {opacity: 0.8;}



