:focus{
	outline:none;
}

/* Whole page content */
#mainWrapper {
	width:expression(document.body.clientWidth <= 800? "800px": "auto"); 
	min-width:800px;
	padding: 300px 5px;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom: 300px;
}

img {
	position:absolute;
	z-index:3;
	top:260px;
	width:80px;
}

#content{	
	position:absolute;
	z-index:2;
	top:300px;
	width: 800px;	
	height:300px;
	text-align:center;
	border-radius: 10px;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.75);
	display:flex;
	flex-direction:column;
	align-items:center;	
	justify-content: center;
}

#msg p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#msg a{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

#userNameText{
	color: rgba(0,150,150,1.0);
}

#buttons{
	width:550px;
	display:flex;
	justify-content: space-between;
}
[href]{
	margin-top:50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: rgba(0,150,150,1.0);	
	padding: 10px 50px 10px 50px;
} 

[href="index.html"]{
	color: rgba(0,150,150,1.0);	
	background-color: rgba(240,240,240,0.9);	
}

[href="profile.html"]{
	padding: 10px 80px 10px 80px;
}

[class~=fas]{
	margin:0px 10px 0px 5px;
}

[href]:hover {opacity: 0.8;}



