@charset "utf-8";
/* CSS Document */


.mainContent{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight:normal;
	position:absolute;
	width:1000px;
	top:100px;
	left:50%;
	margin-left:-500px;	
}

table{
	border-collapse:collapse;
}

table, th, td{
    	border: 1px solid black;
	width:1000px;
}

th,td{
	padding:10px;
}

th{
	background-color:rgba(0,150,150,0.1);
}

td{
	color:rgba(0,100,100,1.0);
	text-align:center;
}

td strong{
	color:black;
}


button{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: rgba(0,150,150,1.0);	
	border: none;
	cursor: pointer;
	margin-top:10px;
	height: 50px;
	width:200px;
	float:right;
}

button:hover {
	opacity: 0.8;
}