@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}
/*header*/
header {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
}
/* Logo placeholder*/
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,150,150,1.00);
}
/* div for Links in header */
#headerLinks {
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Links in header */
#headerLinks a {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
	padding-left: 66px;
	font-size: 14px;
}
/* Offer text banner*/
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	color: rgba(0,50,50,1.00);
	background-color:rgba(208,208,208,0.90);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 100%;
	text-align: center;
}
/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/*menu elements */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 15%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,1.00);
	font-size: 20px;
	position: relative;
	top: -20px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(0,150,150,1.00);
	white-space: pre-wrap;
}
/* Buy button for products in catalog */
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(0,200,200,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
/* footer */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(0,50,50,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}
/*Each footer content */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Links in footer */
footer div a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}
/* Product's images in catalog */
.productInfo div img {
	width: 100%;
}
/* Container for links in footer */
footer .footerlinks {
	margin-top: -15px;
}

/* Media query for tablets */
@media screen and (max-width:700px) {
/* Unordered List of links */
#menubar .menu ul {
	display: inline;
}
/*list elements */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 0%;
}
/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}
/* Content holders in catalog view */
.productRow .productInfo .productContent {
	font-size: 16px;
}
/* Buy buttons in catalog view */
.productRow .productInfo .buyButton {
	font-size: 15px;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Container for each footer divisions */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Links in footer */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Footer region */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Links in header */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
/* Offer- Text banner */
#mainWrapper #offer {
	padding-left: 22%;
}
/* Paragraphs in footer */
footer .footerlinks p {
	display: inline;
}
}

/*media query for small screen devices */
@media screen and (max-width:480px) {
/*Container for links in header */
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
/* Links in header */
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
/*Offer - Text Banner */
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
/* Unordered list for menu elements */
.menu ul {
	position: relative;
	padding-left: 24%;
}
/* Container for links in footer */
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
/* Main content */
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}
